In [ ]:
# ieradores nativos do python
# https://docs.python.org/3/library/stdtypes.html#iterator-types

import itertools

In [ ]:
#  Exemplo 1  - Range ()
for i in range(10):
    print(i, end =", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [23]:
# Exemplo 2 - iterar Lista
frutas = ["Maça", "Banana", "Laranja", "Uva", "Pesego", "Melancia" ]
print("\nFrutas:")
for fruta in frutas:
    print(fruta, end=", ")

Frutas:
Maça, Banana, Laranja, Uva, Pesego, Melancia,

In [24]:
# Exemplo 3 Iterar Dicionario
dicionario = {"nome": "João", "idade": 30, "cidade": "São Paulo"}
print("\n\nDicionário:")
for chave, valor in dicionario.items():
    print(f"{chave}: {valor}", end=", ")

Dicionário:
nome: João, idade: 30, cidade: São Paulo,

In [ ]:
# Exemplo  4 enumerate () 
for indice, fruta in enumerate(frutas):
    print(f"\n{indice}: {fruta}", end=", ")

0: Maça,
1: Banana,
2: Laranja,
3: Uva,
4: Pesego,
5: Melancia,

In [27]:
#5 Exemplo - zip ()

nome= ["João", "Maria", "José"]
idade = [30, 25, 40]
for nome, idade in zip(nome, idade):
    print(f"\nNome: {nome}, Idade: {idade}", end=", ")

Nome: João, Idade: 30,
Nome: Maria, Idade: 25,
Nome: José, Idade: 40,

In [30]:
# Exemplo 6 - Ittertools
for i in itertools.count(start=7,step=2):
    if i>20:
        break
    print(i)

7
9
11
13
15
17
19